<div class="top-menu">

  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="demo">


    <button (click)="onEditCourse()" i18n>Edit Course</button>

  </div>

  <div class="courses">

    <course-card [highlighted]="true" (toggleHighlight)="OnToggleEvenetHandler($event)"
      *ngFor="let course of  courses$ |async " (courseChanged)="save($event)" type="beginner" [course]="course"
      #highlighter="hld">




      <course-image [src]="course.iconUrl" *ngxUnless="!course.iconUrl"></course-image>



      <div> class="course-description" (dblclick)="highlighter.toggleApi()">

        Edit Title: <input #courseTitle [value]="course.description" (keyup)="onTitleChanged(courseTitle.value)">

      </div>

    </course-card>


  </div>


</div>